body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: red;
  /* border-left: 100px solid red;
  border-bottom: 100px solid black; */
  /* animation: breakAnimation 3s ease-in-out forwards; */
}

.top-left {
  --num1: calc(100vh * 100vh);
  --num2: calc(100vw * 100vw);
  --mul: calc(var(--num1)+var(--num2));
  top: 50%;
  left: -50%;
  position: relative;
  width: calc(sqrt(var(--mul)) * 1vw);
  height: calc(sqrt(var(--mul)) * 1vh);
  background-color: black;
  transform: rotate(45deg);
}

.bottom-right {
  bottom: 50%;
  right: -50%;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* transform: rotate(45deg); */
}

/* @keyframes breakAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 0;
    height: 0;
  }
} */
